/*------------------------------------------------------------------------
# Ambrosia
# ------------------------------------------------------------------------
# Designed by MegaDrupal
# Websites:  http://www.megadrupal.com -  Email: info@megadrupal.com
--------------------------------------------------------------------------

    1.   Shortcode
    2.   Header
    3.   Home
    4.   Short About
    5.   Our story
    6.   The menu
    7.   Highlight
    8.   The staff
    9.   Events
    10.  Testimonial
    11.  Section blog
    12.  Contact
    13.  Footer
    14.  Fastfood
    15.  Milestones
    16.  About story
    17.  Shop
    18.  Product detail
    19.  Reservation
    20.  Cart
    21.  Checkout
    22.  Preloader
    23.  Responsive

--------------------------------------------------------------------------------*/


$color: #23853A !default;
$pd: 'Playfair Display', serif !default;
$ms: 'Montserrat', sans-serif !default;
$qs: 'Quattrocento Sans', sans-serif !default;

@import "mixins.scss";

/* 1.   Shortcode
--------------------------------------------------------------------------------*/
@import "1.shortcode.scss";

/* 2.   Header
--------------------------------------------------------------------------------*/
@import "2.header.scss";

/* 3.   Home
--------------------------------------------------------------------------------*/
@import "3.homemedia.scss";

/* 4.   Good food
--------------------------------------------------------------------------------*/
@import "4.goodfood.scss";

/* 5.   Our story
--------------------------------------------------------------------------------*/
@import "5.ourstory.scss";

/* 6.   The menu
--------------------------------------------------------------------------------*/
@import "6.themenu.scss";

/* 7.   Highlight
--------------------------------------------------------------------------------*/
@import "7.sectionhighlight.scss";

/* 8.   The staff
--------------------------------------------------------------------------------*/
@import "8.thestaff.scss";

/* 9.   Events
--------------------------------------------------------------------------------*/
@import "9.events.scss";

/* 10.   Testimonial
--------------------------------------------------------------------------------*/
@import "10.testimonial.scss";

/* 11.   Blog
--------------------------------------------------------------------------------*/
@import "11.blog.scss";

/* 12.   Contact
--------------------------------------------------------------------------------*/
@import "12.contact.scss";

/* 13.   Footer
--------------------------------------------------------------------------------*/
@import "13.footer.scss";

/* 14.   Fastfood
--------------------------------------------------------------------------------*/
@import "14.fastfood.scss";

/* 15.   Milestones
--------------------------------------------------------------------------------*/
@import "15.milestones.scss";

/* 16.   Aboutstory
--------------------------------------------------------------------------------*/
@import "16.aboutstory.scss";

/* 17.   Shop
--------------------------------------------------------------------------------*/
@import "17.shop.scss";

/* 18.   Product detail
--------------------------------------------------------------------------------*/
@import "18.productdetail.scss";

/* 19.   Reservation
--------------------------------------------------------------------------------*/
@import "19.reservation.scss";

/* 20.   Cart
--------------------------------------------------------------------------------*/
@import "20.cart.scss";

/* 21.   Checkout
--------------------------------------------------------------------------------*/
@import "21.checkout.scss";

/* 22.   Preloader
--------------------------------------------------------------------------------*/
@import "22.preloader.scss";

/* 23.   Responsive
--------------------------------------------------------------------------------*/
@import "23.responsive.scss";

